nav {
    background-color: var(--darkColor);
}
nav .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav .nav-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;        
}
nav .hover-nav:hover {
    transition: 0.3s;
    color: var(--blueColor);
}
nav a {
    text-decoration: none;
    color: white;
    font-family: var(--titleFont);
    font-size: 14px;
}
nav .menu-boton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav .menu-boton i{
    border: gray 1px solid;
    padding: 12px;
    color: white;
    font-size: 25px;
}
nav .menu-boton .btn{
    border-radius: 0;
    background-color: var(--blueColor);
}
nav .botonBarras:hover {
    background-color: rgb(87, 87, 87);
    color: var(--fondoColor);
    transition: .4s;
}
@media(max-width:390px){
    #movil-nav {
        display: none;
    }
    #menuyboton {
        display: none;
    }
    nav { 
        background-color: white;
        padding: 10px 0px;
        display: flex;
    }
    nav .nav-options {
        width: 300px;
        margin: auto;
        padding: 10px 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;  
        flex-direction: column;
        justify-content: center;
        align-items: center;           
        box-shadow: 1px 1px 5px 5px var(--darkColor); 
    }
    nav a { border-bottom: black 1px solid;
        width: 80%;
        padding-bottom: 8px;
        text-decoration: none;
        text-align: center;
        color: var(--darkColor);
        font-family: var(--titleFont);
        font-size: 12px;
    }
}