.formulario {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario h1 {
    max-width: 300px;
    margin-bottom: 30px;
}
.formulario .animacion {
    animation: animacionCambio 1.5s;  
    animation-iteration-count: infinite;
    animation-direction: alternate;
   }
   @keyframes animacionCambio {
       from {
        color: var(--darkColor);
       }to {
        color: var(--blueColor);
    }
}
.formulario form {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario .btn {
    background-color: var(--blueColor);
}
.formulario a {
    text-decoration: none;
}
.formulario input:hover, .formulario textarea:hover{
    color: var(--darkColor);
    box-shadow: var(--blueColor) 3px 4px 5px 2px;
    padding: 20px;
}
.formulario input, .formulario textarea{
    width: 500px;
    color: var(--darkColor);
    border: black 1px solid;
    padding: 20px;
}
.formulario input:focus, .formulario textarea:focus{
    outline: none;
}
@media(max-width:390px){
    .formulario input:hover, .formulario textarea:hover{
        color: var(--darkColor);
        box-shadow: var(--blueColor) 3px 4px 5px 2px;
        padding: 20px;
    }
    .formulario input, .formulario textarea{
        width: 300px;
        color: var(--darkColor);
        border: black 1px solid;
        padding: 20px;
    }
}